In [7]:
import mysql.connector
import pandas as pd

In [9]:
# Load cleaned data
games_df = pd.read_csv("D:/Project/Guvi_Project/Video Game Sales and Engagement Analysis/games1.csv")
vgsales_df = pd.read_csv("D:/Project/Guvi_Project/Video Game Sales and Engagement Analysis/vgsales1.csv")

In [11]:
# Connect to MySQL
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="thanigai@1234",
    database="gamesales"
)
cursor = conn.cursor()

In [13]:
# Insert rows one by one
for _, row in games_df.iterrows():
    cursor.execute("""
        INSERT INTO games (`S.No`, Title, Release_Date, Team, Rating, Times_Listed, Number_of_Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s ,%s, %s, %s, %s, %s, %s)
    """, tuple(row))

In [15]:
for _, row in vgsales_df.iterrows():
    cursor.execute("""
        INSERT INTO vgsales (`Rank`, Name, Platform, Year, Genre, Publisher,
                             NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

In [17]:
# Commit changes
conn.commit()
conn.close()